.main {
  

  &-nav {
    text-align: center;
    align-items: center;
    padding: 40px 0;
  }

  &-top {
    text-align: center;

    &__desc {
      padding: 32px 0;
    }
  }

  &-center {
    padding: 90px 0;

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      display: flex; 
      justify-content: space-between;
      padding-top: 70px;

      &-item {

        &__heading {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: #FFFFFF;
        }

      }


    }
  }


  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 130px 0;

    &-box {

      &__desc {
        padding: 20px 0;
      }
    }

    
    
  }


  
}