.sitenav {
  padding: 72px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  &-item {
    

    &-link {
      text-decoration: none;
      padding-left: 57px;
    }
  }
}